APP_ID=<your app id>
APP_SECRET=<your app secret>
OAUTH_SUCCESS_PAGE=/oauthSuccess
OAUTH_REDIRECT_URI=<your local URI for testing, ex. 4488c5b2.ngrok.io>
// DEBUG and WW_SDK_LOG_LEVEL are optional
DEBUG=dpc-exportspace-*
WW_SDK_LOG_LEVEL=info
